doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1= title
    ul
      li <a href="/">Home</a>
      li <a href="/helloworld">Hello!</a>
      li <a href="/userlist">User list</a>
    block content
    