extends layout

block content
  form#formAddUser(name="addUser", method="post", action="/adduser")
    input#inputUserName(type="text", placeholder="user name", name="username")
    input#inputUserEmail(type="text", placeholder="User email", name="useremail")
    button#btnSubmit(type="submit") Submit